@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans JP", "Noto Sans TC", sans-serif;
}

html {
  height: 100vh;
  width: auto;
  background: #CBE6FA;
}

body {
  height: 100%;
}

body,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}